@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

::v-deep .pb-4 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}